@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap");

h1 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 50px;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 26px;
  background-color: #b0e298;
  color: #000;
}

img {
  width: 500px;
}

.container {
  display: grid;
  grid-template-areas: "p img"
                        "quote img";
  grid-template-columns: auto 500px;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 480px) {
  h2, h3 {
    font-size: 20px;
  }

  body {
    font-size: 14px;
    background-color: #3d3b8e;
    color: #fff;
  }
}
